{% extends 'base.html.twig' %}
{% block title %}Twitter Appie{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <h1>Twitter APP</h1>
    <ul class="breadcrumbs">
        <li><a href="{{ asset('/') }}">Home</a></li>
        <li>/</li>
        <li>account</li>
    </ul>
    <div class="clearfix"></div>
    <div class="boxie">
        <img src="{{ asset('images/account_panel.png') }}" alt="green_check_succes"/>

        <h2><h3>Welkom</h3>
            <br>Super! Je ben nu op je account paneel! <a href="#">Logout</a>
            <br>

    </div>
    <div class="clearfix"></div>
    <span id="credit">&copy; copyright {{ current_year }} twitter app - a simple sf2 web appie</span>
{% endblock %}



