<span id="credit">&copy; copyright {{ current_year }} twitter app - a simple sf2 web appie - <a href="{{ asset('/login') }}""">inloggen</a> - <a href="{{ asset('/register') }}">registeren</a>  - <a href="{{ asset('/login') }}">account</a></span>
